body {
    margin: 20px;
    background-color: #F6DAD7;
    font-family: Verdana, Arial, sans-serif;
}

p {
    text-indent: 20px;
    line-height: 45px;
    color: #32a4e7;
    font-size: 25px;
    word-spacing: 5px;
}

a {
    text-decoration: none;
    color: red;
    letter-spacing: 5px;
    word-spacing: 5px;
}

a:hover {
    text-decoration: blink;
    padding: 10px;
    color: black;
    background-color: #d4d4d4;
    cursor: pointer;
}

a:visited {
    color: navy;
    font-weight: bold;

}